.login-page{
    background-color: white;
    justify-content: center;
    display: flex;
    font-family: 'Roboto', sans-serif; font-weight: 100; font-size: 18px;
}
.login-title{
    font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 36px;
    color: #919191;

}

.login-box{
    background-color: rgb(251, 251, 251);
    width: 640px;
    height: 670px;
    justify-content: center;
    border-radius: 34px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.login-fields{
    margin-top: 100px;
}
login-logo{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-left: 270px;
    margin-top: 40px;
}

.login-box-decoration{
    width: 640px;
    height: 80px;
    background-color: red;
    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
    display: flex;
    background: linear-gradient(180deg, rgba(245,216,122,1) 0%, rgba(245,201,52,1) 50%, rgba(245,199,41,1) 100%);

}

.horizontal_dotted_line {
    display: flex;
    width: 630px;
    border-right: 0px solid black;
    border-left: 0px solid black;
    padding: 5px;
    margin-top: 3px;

  } 
  .horizontal_dotted_line:after {
    border-bottom: 8px dotted #c3c1c5;
    content: '';
    flex: 1;

  }